<div>

  <!-- {{content | json}}
  <br/>
  <br/>

  <div *ngFor="let content of content">
    {{content.stat.goal}}
    {{content.stat.shoot}}
    {{content.stat.assist}}
    {{content.stat.pass}}
    {{content.stat.tackle}}
    {{content.stat.intercept}}
    {{content.name}}
  </div> -->


  <table mat-table [dataSource]="dataSource" matSort matSortDirection="desc" matSortDisableClear class="mat-elevation-z8">
 
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;" (click)="doSort('name')">이름</th>
        <td mat-cell *matCellDef="let content"> {{content.name}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="doSort('p.id')">포지션</th>
        <td mat-cell *matCellDef="let content"> {{content.position.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="goal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="doSort('s.goal')">득점</th>
        <td mat-cell *matCellDef="let content"> {{content.stat.goal}} </td>
      </ng-container>
  
      <ng-container matColumnDef="shoot">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="doSort('s.shoot')">슈팅</th>
        <td mat-cell *matCellDef="let content"> {{content.stat.shoot}} </td>
      </ng-container>
  
      <ng-container matColumnDef="assist">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="doSort('s.assist')">도움</th>
        <td mat-cell *matCellDef="let content"> {{content.stat.assist}} </td>
      </ng-container>
      
      <ng-container matColumnDef="pass">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="doSort('s.pass')">패스</th>
        <td mat-cell *matCellDef="let content"> {{content.stat.pass}} </td>
      </ng-container>
  
      <ng-container matColumnDef="tackle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="doSort('s.tackle')">태클</th>
        <td mat-cell *matCellDef="let content" class="td-center"> {{content.stat.tackle}} </td>
      </ng-container>
  
      <ng-container matColumnDef="intercept">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="doSort('s.intercept')">차단</th>
        <td mat-cell *matCellDef="let content" class="td-center"> {{content.stat.intercept}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="paging-button-container">
      <div class="prev-button">
        <ng-container *ngIf="pageAble.pageNumber == 0">
          <mat-icon (click)="goPage(-1)">first_page</mat-icon>
        </ng-container>
        <ng-container *ngIf="pageAble.pageNumber != 0">
          <mat-icon (click)="goPage(0)">first_page</mat-icon>
        </ng-container>

        <mat-icon (click)="goPage(pageAble.pageNumber - 1)">chevron_left</mat-icon>
      </div>

      <div>
        {{pageAble.pageNumber + 1}} 
      </div>

      <div class="next-button">
        <mat-icon (click)="goPage(pageAble.pageNumber + 1)">chevron_right</mat-icon>

        <ng-container *ngIf="pageAble.pageNumber != totalPage">
          <mat-icon (click)="goPage(totalPage)">last_page</mat-icon>
        </ng-container>
        <ng-container *ngIf="pageAble.pageNumber == totalPage">
          <mat-icon (click)="goPage(totalPage+1)">last_page</mat-icon>
        </ng-container>
      </div>
    </div>

    <div class="search-container">  
      <input [(ngModel)]="searchKeyword" (keyup.enter)="goSearch(searchKeyword)"/>
      <button (click)="goSearch(searchKeyword)">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    {{pageAble.pageNumber}}
    {{totalPage}}

  </div>
  


  
  <!-- <div *ngFor="let content of content">
      {{content | json}}<br/>
      {{content.totalPage | json}}<br/>
      <div *ngFor="let paging of content.list">
        {{paging.stat | json}}
        {{paging.name | json}}
      </div>
  </div>   -->
  
  <!-- <div *ngFor="let content of content | keyvalue">
    <br/>
    <br/>
    <br/>
    <div *ngFor="let paging of content.value">
      {{paging.stat | json}}
      {{paging.name | json}}
    </div>
  </div>   -->

  <!-- <div *ngFor="let content of content | keyvalue">
    {{content.key}} - {{content.value | json}}
  </div> -->