.header-container {
	display: flex;
}

.toggle-container {
	display: flex;
	flex-grow: 1;
}

.title-container img {
	width: 10%;
	margin: 5px;
}

.tab-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tab-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 5vh;
	cursor: pointer;
	font-size: large;
	color: #f1f2f6;
	background-color: #1e272e;
}

